.shape-frame {
    outline: none;
    cursor: pointer;
}

.shape {
    fill: yellow;
    stroke: red;
    stroke-width: 2;
}

.rect-border {
    stroke: dodgerblue;
    stroke-width: 1;
    stroke-dasharray: 10;
}

.resize-handler {
    fill: dodgerblue;
}

.left-diagonal-resize-handler {
    cursor: nwse-resize;
}

.vertical-resize-handler {
    cursor: ns-resize;
}