*/.idea/
*/.vs
*/Debug
/lw2/WeatherStation/.vs/WeatherStation/v16
/lw2/WeatherStation/Debug
/lw2/WeatherStation/WeatherStation/Debug
/lw2/WeatherStation/WeatherStationTests/Debug
/lw2/WeatherStation/WeatherStationDuoTests/Debug
/lw2/WeatherStation/WeatherStationDuoTests/LastCoverageResults.log
/lw2/WeatherStation/WeatherStationDuo/Debug
/lw2/WeatherStation/WeatherStationPro/Debug/WeatherS.81277AD1.tlog
/lw2/WeatherStation/WeatherStationPro/Debug
/lw2/WeatherStation/WeatherStationProTests/Debug
